PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin" 

export HTTP_PROXY="{{ ubuntu_http_proxy }}"
export HTTPS_PROXY="{{ ubuntu_https_proxy }}"
export FTP_PROXY="{{ ubuntu_ftp_proxy }}"
export NO_PROXY="localhost,127.0.0.1,::1"