[defaults]
inventory = ./hosts
remote_port = 22
collections_path= ./ansible_collections
roles_path = ./roles

[ssh_connection]
scp_if_ssh = true

# Refansible-galaxy install -r requirements.ymls
# https://www.jeffgeerling.com/blog/2020/ansible-best-practices-using-project-local-collections-and-roles